%h2.content-header
  %span.scene= @scene.name

= simple_form_for @prop, url: { action: 'update' } do |f|
  = f.input :location, default: 'bottom', input_html: { class: 'small' }
  = f.hint "Choose 'bottom' for a Dashboard item"

  = f.input :position, as: :string, input_html: { class: 'small' }
  = f.hint "Leave empty for a hidden Dashboard item, which later can be choosen by a user"

  %ul.buttons
    %li= f.button :submit, class: 'green'
    %li= link_to 'Cancel', backstage_scene_props_path
