%ul.buttons.main-actions
  %li
    = link_to 'Create Scene Prop', new_backstage_scene_prop_path, class: 'green'

%table#props.records
  %thead
    %tr
      %th.name     Prop
      %th.location Location
      %th.location Position
      %th.key      Hurdles
      %th.key      Front-end Behaviour
      %th.action   &nbsp;
      %th.action   &nbsp;

  %tbody
    - @props.each do |prop|
      %tr
        %td.link
          = link_to I18n.t("props.#{prop.key}.name"), edit_backstage_scene_prop_path(@scene, prop)
        %td
          = prop.location
        %td
          = if prop.position.blank? then 'none' else prop.position end
        %td.key
          = prop.concatenated_hurdles
        %td.link
          = link_to_prop_behaviour prop
        %td.link.action
          = link_to 'Edit', edit_backstage_scene_prop_path(@scene, prop)
        %td.link.action
          = link_to 'Delete', backstage_scene_prop_path(@scene, prop), method: :delete, confirm: 'Delete this prop from the scene?'
