%table#scenes.records
  %thead
    %tr
      %th        ID
      %th.unit   Name
      %th.unit   Dashboard Items
      %th.action &nbsp;

  %tbody
    - @scenes.each do |scene|
      %tr
        %td=             scene.id
        %td.link=        link_to scene.name, edit_backstage_scene_path(scene)
        %td.link=        link_to scene.props.size, backstage_scene_props_path(scene)
        %td.link.action= link_to 'Edit', edit_backstage_scene_path(scene)

%ul.buttons
  %li= link_to 'New Scene', new_backstage_scene_path, class: ['button', 'green']
