- # DEBT: Move this definition to controller...

- @icon_props = { car:                 %w[eco suv],
                  city:                %w[large small],
                  eco_buildings:       %w[green coal_dry],
                  energy_sources:      %w[solar nuclear oil],
                  geothermal_pipeline: %w[geothermal none pipeline],
                  ground:              %w[dry green],
                  solar_heater:        %w[none heater],
                  turbines:            %w[coal wind] }

#page-view
  #core
    #theme-header
      %a#logo(href="/") Energy Transition Model light
      .world{"data-prop-location" => "header"}
        .plane
        .sun
        - @icon_props.each do |key, states|
          .icon-prop{class: key.to_s.gsub(/_/,"-")}
            - active_state = states.sample
            - states.each do |state|
              %span.icon{ class: "#{state.gsub(/_/,'-')} #{active_state == state ? 'active' : 'inactive'}",
                          style: ("display: none;" unless active_state == state ) }

    %section#main

      %h1 
        What does your <strong>Energy Future</strong> look like?
        %em
          ="...and can you get the high score?"

      %p
        Pour-over in trust fund, quinoa forage fanny pack keffiyeh chillwave
        helvetica jean shorts. Qui biodiesel master cleanse, gluten-free
        photo booth gastropub DIY odd future pinterest ethical aute cray.
        8-bit terry richardson banh mi elit adipisicing sint, fap voluptate
        tofu gentrify narwhal. Reprehenderit qui truffaut sriracha retro.

      %p
        Voluptate enim occaecat, excepteur carles lo-fi DIY hella sint vero
        scenester in biodiesel wayfarers. DIY master cleanse wes anderson
        direct trade scenester brunch. Salvia seitan authentic nihil blog,
        swag ullamco kogi +1. Vero consequat truffaut, elit leggings tumblr
        accusamus irony. Trust fund pitchfork synth, incididunt quis sed
        aliqua. Chillwave ennui kale chips cliche quis. Exercitation
        helvetica nihil, gluten-free cupidatat twee messenger bag sunt
        gentrify portland cray nisi assumenda terry richardson.

      %section.buttons
        %a.blue.launch{ href: "/scenes/1" } Create your own Future!

      #scores
        %h2== #{ I18n.t 'words.high_scores' }:
        .loading== #{ I18n.t 'words.loading' }...


:javascript
  window.bootstrap = #{ @high_scenarios.map(&:to_pusher_event).to_json }

  jQuery(document).ready(function(){
    setInterval(function(){animate_header();}, 3000);
  });

  function animate_header(){
    var number_of_props = $('.icon-prop').size();
    var random_index    = Math.floor(Math.random()*number_of_props);
    var selected_prop   = $('.icon-prop').eq(random_index);

    var to_be_hidden = selected_prop.find('.active');
    var to_be_shown  = selected_prop.find('.inactive').first();

    to_be_hidden.removeClass('active').addClass('inactive').fadeOut(2000);
    to_be_shown.removeClass('inactive').addClass('active').fadeIn(2000);
  }
