- # DEBT: Move this definition to controller...

- unless supported_browser?
  = render 'browser_warning'

#page-view.root
  #core

    %nav#language-select
      - @alternative_locales.each do |alt_locale|
        %a{href: "/lang/#{alt_locale}", title: (I18n.t "switch_to_this_language", locale: alt_locale), class: alt_locale}
          = I18n.t "switch_to_this_language", locale: alt_locale

    = render 'theme_header'

    %section#main

      %h1
        = I18n.t('scenes.etlite.landingTitle', future: I18n.t('scenes.etlite.landingFuture')).html_safe
        %em= I18n.t 'scenes.etlite.landingSubtitle'

      = render partial: "landing_#{ I18n.locale }"

      %section.go
        - if @previous_attempt
          %span.buttons
            %a.blue.launch{ href: scene_scenario_path(@scenes.first, @previous_attempt) }<>
              == #{ t :'scenes.etlite.continue' }&hellip;

          .start-over
            == #{ t :'words.or' }:
            %a{ href: "/scenes/1" }== #{ t :'scenes.etlite.startOver' }&hellip;

        - else

          %span.buttons
            %a.blue.launch{ href: "/scenes/1" }<>
              == #{ t :'scenes.etlite.landingButton' }&hellip;

      #scores
        %h2== #{ I18n.t 'words.high_scores' }:
        .loading== #{ I18n.t 'words.loading' }&hellip;

    %footer
      %ul#partners
        %li
          %a{href: "http://www.gasterra.nl", "data-navigate" => "noclient", target:"_new", class:"partner gasterra"} GasTerra
        %li.by= I18n.t "leading_partner"

:javascript
  window.bootstrap = #{ @high_scenarios.map(&:to_pusher_event).to_json }
