- # DEBT: Move this definition to controller...

- unless supported_browser?
  = render 'browser_warning'

#page-view.root
  #core

    %nav#language-select
      - @alternative_locales.each do |alt_locale|
        %a{href: "/lang/#{alt_locale}", title: (t :'switch_to_this_language', locale: alt_locale), class: alt_locale}
          = t :'switch_to_this_language', locale: alt_locale

    = render 'theme_header'

    %section#main

      %h1
        = t(:'scenes.etlite.landingTitle', future: t(:'scenes.etlite.landingFuture')).html_safe
        %em= t :'scenes.etlite.landingSubtitle'

      = render partial: "landing_#{ I18n.locale }"

      %section.go
        - if ETFlex.config.conference and @previous_attempt
          %span.buttons
            %a.blue.launch{ href: "/scenes/1/fresh" }<>
              == #{ t :'scenes.etlite.landingButton' }&hellip;

          .conference-continue
            == #{ t :'words.or' }:

            %a{ href: scene_scenario_path(@scene, @previous_attempt) }
              == #{ t :'scenes.etlite.backToPrevious' }&hellip;

        - elsif @previous_attempt
          %span.buttons
            %a.blue.launch{ href: scene_scenario_path(@scene, @previous_attempt) }<>
              == #{ t :'scenes.etlite.continue' }&hellip;

          .start-over
            == #{ t :'words.or' }:
            %a{ href: "/scenes/1" }== #{ t :'scenes.etlite.startOver' }&hellip;

        - else

          %span.buttons
            %a.blue.launch{ href: "/scenes/1" }<>
              == #{ t :'scenes.etlite.landingButton' }&hellip;

      #scores
        %h2== #{ t :'words.high_scores' }:
        .loading== #{ t :'words.loading' }&hellip;

    %footer
      %ul#partners
        %li
          %a{href: "http://www.gasterra.nl", "data-navigate" => "noclient", target:"_new", class:"partner gasterra"} GasTerra
        %li.by= t :'leading_partner'

:javascript
  window.bootstrap = #{ @high_scenarios.map(&:to_pusher_event).to_json }
