- # DEBT: Move this definition to controller...

- unless supported_browser?
  = render 'browser_warning'

#page-view.root
  #core
    = link_to 'Energy Transition Model', root_path, id: 'logo'
    %nav#language-select
      - @alternative_locales.each do |alt_locale|
        %a{href: "/lang/#{alt_locale}", title: (t :'switch_to_this_language', locale: alt_locale), class: alt_locale}
          = t :'switch_to_this_language', locale: alt_locale
    %h1
      = t(:'scenes.etlite.landingTitle', future: t(:'scenes.etlite.landingFuture')).html_safe
      %em= t :'scenes.etlite.landingSubtitle'

    %section#main
      - @scenes.each do |scene|
        - previous_attempt = scene.previous_attempt(current_or_guest_user)
        .level{ id: "#{scene.name_key}" }
          %section.go{ class: "#{scene.name_key}" }
            .top
              %h2= t("scenes.#{scene.name_key}")
              %p= t("scenes.#{scene.name_key}_text").html_safe
            .start-game
              - if ETFlex.config.conference and previous_attempt
                %span.buttons
                  %a.green.launch{ href: "/scenes/#{scene.id}/fresh" }<>
                    == #{ t :'scenes.etlite.landingButton' }&hellip;
                .conference-continue
                  == #{ t :'words.or' }:
                  %a{ href: scene_scenario_path(scene_id: scene, id: previous_attempt) }
                    == #{ t :'scenes.etlite.backToPrevious' }&hellip;

              - elsif scene.previous_attempt(current_or_guest_user)
                %span.buttons
                  %a.green.launch{ href: scene_scenario_path(scene_id: scene, id: previous_attempt) }<>
                    == #{ t :'scenes.etlite.continue' }&hellip;
                .start-over
                  == #{ t :'words.or' }:
                  %a{ href: "/scenes/#{scene.id}" }== #{ t :'scenes.etlite.startOver' }&hellip;

              - else
                %span.buttons
                  %a.green.launch{ href: scene_path(scene) }<>
                    == #{ t :'scenes.etlite.landingButton' }&hellip;
                  .start-over &nbsp;

              .image

          - if scores_enabled?
            #scores.scores.condensed{ data: {scene: scene.id} }
              %h2== #{ t :'words.high_scores' }:
              .loading== #{ t :'words.loading' }&hellip;

      .level#quiz
        = link_to(image_tag("mosaic.png"), "https://quest.energytransitionmodel.com/", class: 'poster')
        %section.go.quiz
          .top
            %h2= t('scenes.quiz')
            %p= t('scenes.quiz_text')
          %span.buttons
            %a.green.launch{ href: "https://quest.energytransitionmodel.com/" }
              = t('scenes.quiz_button')
              →
      .level#info
        %section.go.info
          %h2= t('scenes.info')
          %p= t('scenes.info_text').html_safe
    %footer
      %ul#partners
        %li
          %a{href: "http://www.gasterra.nl", "data-navigate" => "noclient", class:"partner gasterra"} GasTerra
        %li.by= t :'leading_partner'

:javascript
  window.bootstrap = #{ high_scores_pusher_event(@high_scenarios).to_json }
