%h2.content-header
  %span.scene= @scene.name
  %span.input= input_name_for_title @input

= simple_form_for @input, url: { action: 'update' } do |f|
  = f.input :remote_id, as: :string, input_html: { class: 'small', disabled: true }
  = f.input :key,                    input_html: { disabled: true }

  = f.input :location, :collection => %w[left right], input_html: { class: 'small' }
  = f.hint "Choose none for a slider which can be choosen by the user in the interface, but is hidden upon load."

  = f.input :position, as: :string, input_html: { class: 'small' }
  = f.hint "Make sure this position is unique."

  = f.input :step, as: :string, input_html: { class: 'small' }
  = f.hint "Defaults to #{ @input.input.step }"

  = f.input :min, as: :string, input_html: { class: 'small' }
  = f.hint "Defaults to #{ @input.input.min }"

  = f.input :max, as: :string, input_html: { class: 'small' }
  = f.hint "Defaults to #{ @input.input.max }"

  = f.input :start, as: :string, input_html: { class: 'small' }, wrapper_html: { class: 'slider' }
  = f.hint "Defaults to #{ @input.input.start }"

  %ul.buttons
    %li= f.button :submit, class: 'green'
    %li= link_to 'Cancel', backstage_scene_inputs_path
