%ul.buttons.main-actions
  %li
    = link_to 'Create Scene Input', new_backstage_scene_input_path, class: 'green'

%table#inputs.records
  %thead
    %tr
      %th.location Location
      %th.position Ranking
      %th.key      Key
      %th          Name
      %th.unit     Min
      %th.unit     Max
      %th.unit     Step
      %th.unit     Unit
      %th.action   &nbsp;
      %th.action   &nbsp;

  %tbody
    - @inputs.each do |input|
      %tr
        %td.location
          = input.location
        %td.position
          = input.position
        %td.link.key
          = link_to input.key, poly_backstage_input_path(input, :edit)
        %td
          = input_name_for_list input
        %td.unit
          = input.min
        %td.unit
          = input.max
        %td.unit
          = input.step
        %td.unit
          = input.unit
        %td.link.action
          = link_to 'Edit',   poly_backstage_input_path(input, :edit)
        %td.link.action
          = link_to 'Delete', poly_backstage_input_path(input), method: :delete, data: { confirm: 'Delete this input from the scene?' }
