%table#inputs.records
  %thead
    %tr
      %th.location Location
      %th.position Ranking
      %th.key      Key
      %th          Name
      %th.unit     Unit
      %th.action   &nbsp;

  %tbody
    - @inputs.each do |input|
      %tr
        %td.location
          = input.location
        %td.position
          = input.position
        %td.link.key
          = link_to input.key, poly_backstage_input_path(input, :edit)
        %td
          = input_name_for_list input
        %td.unit
          = input.unit
        %td.link.action
          = link_to 'Edit', poly_backstage_input_path(input, :edit)

.inline-add.make-a-selection
  %h2 Add a new input to this scene:

  = simple_form_for SceneInput.new, url: { action: 'create' } do |f|
    = scene_input_input_select(f)
    = scene_input_location_select(f)

    %ul.buttons
      %li= f.button :submit, class: 'green'
