-# TODO SceneInput should have it's own template.

%h2.content-header
  %span.icon= input_name_for_title @input

= simple_form_for [ :backstage, @input ] do |f|
  = f.input :_id,   as: :string, input_html: { class: 'small', disabled: true }
  = f.input :key,                input_html: { disabled: true }
  = f.input :step,  as: :string, input_html: { class: 'small' }
  = f.input :min,   as: :string, input_html: { class: 'small' }
  = f.input :max,   as: :string, input_html: { class: 'small' }
  = f.input :start, as: :string, input_html: { class: 'small' }, wrapper_html: { class: 'slider' }

  - if @input.is_a?(Input)
    = f.input :unit, input_html: { class: 'small' }

  %ul.buttons
    %li= f.button :submit, class: 'green'
    %li= link_to 'Cancel', backstage_inputs_path
