%h1(style="margin: 50px 0 25px 170px") Sign in

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
  .session-error
    = flash[:alert] || flash[:notice]

  .inputs
    = f.input :email, :required => false, :autofocus => true 
    = f.input :password, :required => false 
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable? 

  %ul.buttons
    %li= f.button :submit, "Sign in", class: 'green'

-#= render :partial => "devise/shared/links" 
