!!! 5
%html
  %head
    %title ETFlex

    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body#minimal
    = yield

  // These go at the end so that loading JS doesn't block the page load...
  = javascript_include_tag 'application'

  :javascript
    require('app').minimal(window, #{ client_options })
