!!! 5
%html
  %head
    %title ETFlex

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr-2.0.6'

    = csrf_meta_tags

  %body.loading
    = yield

  // These go at the end so that loading JS doesn't block the page load...
  = javascript_include_tag 'dependencies'

  %script(src="/application.js" type="text/javascript")
  %script(type="text/javascript")
    == require('app').boot(window, '#{I18n.locale}');
