!!! 5
%html{ lang: I18n.locale, itemscope: true, itemtype: 'http://schema.org/SoftwareApplication' }
  %head
    %title= I18n.t "etm_light"

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr-2.0.6.js'
    = csrf_meta_tags

    %meta(name="viewport" content="width=1100")
    %meta(name="name" itemprop="name" content="Energy Transition Model")
    %meta(name="description" itemprop="description" content="The &quot;light&quot; Energy Transition Model is a game where you decide how to create (and consume) energy in the 2030. Can you create a greener, more sustainable, and inexpensive future? Try to beat the high score!")
    %meta(itemprop="image" content="https://s3-eu-west-1.amazonaws.com/qi-assets/etflex-share-image.jpg")

  %body.message{ class: I18n.locale }
    #master-content
      = yield

  // These go at the end so that loading JS doesn't block the page load...
  = javascript_include_tag 'application'

  - if ETFlex.config.pusher
    = javascript_include_tag '//js.pusher.com/1.11/pusher.min.js'

  - unless ETFlex.config.conference
    = javascript_include_tag 'google_analytics.js'

  :javascript
    require('app').boot(window, #{ client_options })
