!!! 5
%html{lang:I18n.locale}
  %head
    %title= I18n.t "etm_light"

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr-2.0.6.js'
    = csrf_meta_tags

    %meta(name="viewport" content="width=1100")

  %body.message{ class: I18n.locale }
    #master-content
      = yield

  // These go at the end so that loading JS doesn't block the page load...
  = javascript_include_tag 'application'

  - if ETFlex.config.pusher
    = javascript_include_tag 'http://js.pusher.com/1.11/pusher.min.js'

  - unless ETFlex.config.conference
    = javascript_include_tag 'google_analytics.js'

  :javascript
    require('app').boot(window, #{ client_options })
