!!! 5
%html
  %head
    %title ETFlex Backstage

    = stylesheet_link_tag 'backstage'
    = javascript_include_tag 'modernizr-2.0.6.js'
    = airbrake_javascript_notifier

    = csrf_meta_tags

  %body
    #chrome
      #header
        %ul.navigation
          = backstage_navigation

          %li.sign-out
            %a(href="#" title="#{t(:'backstage.navigation.sign_out.title')}")
              = t(:'backstage.navigation.sign_out.name')

          %li.loading
            %span.pseudo
              %span.icon Loading&hellip;

      #master
        = yield
