!!! 5
%html
  %head
    %title ETFlex Backstage

    = stylesheet_link_tag 'backstage'
    = airbrake_javascript_notifier

    = csrf_meta_tags

  %body#backstage
    #chrome
      #header
        - if user_signed_in?
          %ul.navigation
            = backstage_navigation

            %li.sign-out
              %a(href="/goodbye" title="#{t(:'backstage.navigation.sign_out.title')}")
                = t(:'backstage.navigation.sign_out.name')

            %li.loading
              %span.pseudo
                %span.icon Loading&hellip;

      #content
        = yield

    // These go at the end so that loading JS doesn't block the page load...
    = javascript_include_tag 'backstage'
