!!! 5
%html
  %head
    %title ETFlex

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr-2.0.6.js'
    = csrf_meta_tags

    // Prevent tablets from zooming.
    %meta(name="viewport" content="initial-scale=1, maximum-scale=1")

  %body.message
    = yield

  // These go at the end so that loading JS doesn't block the page load...
  = javascript_include_tag 'application'

  :javascript
    require('app').boot(window, #{ client_options })
