!!! 5
%html
  %head
    %title= I18n.t "etm_light"

    = stylesheet_link_tag 'pages'
    = javascript_include_tag 'modernizr-2.0.6.js'
    = csrf_meta_tags

    %meta(name="viewport" content="width=1100")

  %body.pages
    = yield

    // These go at the end so that loading JS doesn't block the page load...
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://js.pusher.com/1.11/pusher.min.js'

    :javascript
      require('app').minimal(window, #{ client_options })
